<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <appSettings>
		<add key="MySQL.persons" value="server=SQLEXPRESS;database=persons;user=ADMIN;Password=0000;"/>
		
	</appSettings>
	<connectionStrings>
		<add 
		 name="personsConnection"
		 connectionString="Data Source=NGUMI\SQLEXPRESS;Initial Catalog=persons;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>