<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Client_Management_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
  <add name="personsConnection" connectionString="Data Source=NGUMI\SQLEXPRESS;Initial Catalog=persons;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Client_Management_System.Properties.Settings.persons"
   connectionString="Data Source=NGUMI\SQLEXPRESS;Initial Catalog=persons;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <userSettings>
  <Client_Management_System.Properties.Settings>
   <setting name="SavedUsername" serializeAs="String">
    <value />
   </setting>
  </Client_Management_System.Properties.Settings>
 </userSettings>
</configuration>